# Telegram Bot & App Credentials
API_ID=
API_HASH=
BOT_TOKEN=8937657347:AAHAc6jtlXksUWTX-m2FJsq3f1ytWVfGtKo
TELEGRAM_BOT_TOKEN=8937657347:AAHAc6jtlXksUWTX-m2FJsq3f1ytWVfGtKo
TELEGRAM_BOT_ID=8937657347
NEXT_PUBLIC_BOT_USERNAME=PlutonimBot

# Database
MONGO_URI=mongodb://root:aOF2MV6CyohacWobnUCnSE7rj28JyHnrTISOMlN2599l5UTEpWYr3DJwq6hiws3D@172.197.216.107:27017
MONGO_DB=playeon

# WebSocket Room Connection
NEXT_PUBLIC_ROOM_WS_URL=play.deltastack.fun

# Administration
DEV_IDS=8641841006
