# Telegram Bot & App Credentials
API_ID=
API_HASH=
BOT_TOKEN=8937657347:AAHAc6jtlXksUWTX-m2FJsq3f1ytWVfGtKo
TELEGRAM_BOT_TOKEN=8937657347:AAHAc6jtlXksUWTX-m2FJsq3f1ytWVfGtKo
TELEGRAM_BOT_ID=8937657347
NEXT_PUBLIC_BOT_USERNAME=PlutonimBot

# Database
MONGO_URI=mongodb://localhost:27017
MONGO_DB=playeon

# WebSocket Room Connection
NEXT_PUBLIC_ROOM_WS_URL=play.deltastack.fun

# Administration
DEV_IDS=8641841006
